<p>login works!</p>
<div class="login-container">
  <h2>Login</h2>
  <form  >
    <div>
      <label for="username">Username</label>
      <input id="username" formControlName="username" type="text" />
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" />
    </div>
    <button type="submit" (click)="onSubmit()">Login</button>
  </form>
  <div *ngIf="errorMsg">{{errorMsg}}</div>
  <br>
  <br>
  <br>
  <button (click)="go()">Go to Dashboard</button>
</div>